_backups/wf1_pre_fix_pagto_fatura_20260522_170503.json
{"updatedAt":"2026-05-21T17:46:56.625Z","createdAt":"2026-05-12T22:20:02.608Z","id":"xQHgAqsOa5kTuMyf","name":"💰 Lançamento Financeiro via WhatsApp","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-trigger","name":"📱 Receber Mensagem WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[120,300],"parameters":{"httpMethod":"POST","path":"financeiro-familiar","responseMode":"responseNode","options":{}},"webhookId":"e5a9a6ca-a9a3-4a01-8fd7-4cac4f22e0df"},{"id":"extract-message","name":"🔍 Extrair Texto da Mensagem","type":"n8n-nodes-base.code","typeVersion":2,"position":[340,300],"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst remoteJid = body.data?.key?.remoteJid || body.from || '';\nconst TARGET_GROUP = '120363409520000410@g.us';\nif (remoteJid !== TARGET_GROUP) return [];\n\nconst message =\n  body.message?.conversation ||\n  body.message?.extendedTextMessage?.text ||\n  body.text?.message ||\n  body.body ||\n  body.message ||\n  body.data?.message?.conversation ||\n  body.data?.message?.extendedTextMessage?.text ||\n  '';\nconst textRaw = String(message).trim();\n\nconst msgObj = body.data?.message || body.message || {};\nconst isMedia = msgObj.audioMessage || msgObj.imageMessage || msgObj.videoMessage ||\n  msgObj.stickerMessage || msgObj.documentMessage || msgObj.reactionMessage ||\n  msgObj.locationMessage || msgObj.contactMessage;\nif (isMedia) return [];\nif (!textRaw) return [];\n\nconst sender = body.data?.key?.participant || body.sender || body.from || 'desconhecido';\nconst senderName = body.data?.pushName || body.senderName || body.name || sender;\n\n// === DETECÇÃO DE COMANDO ===\n// Padrões aceitos:\n//   corrigir/ajustar/editar [último/ultimo] <ação>\n//   deletar/apagar [último/ultimo]\nconst cmdMatch = textRaw.match(/^(corrigir|ajustar|editar)\\s+(?:último\\s+|ultimo\\s+)?(.+)$/i);\nconst delMatch = textRaw.match(/^(deletar|apagar)\\s+(?:último|ultimo)?$/i);\n\nif (delMatch) {\n  return [{ json: { isCommand: true, commandType: 'delete', sender, senderName, original: textRaw } }];\n}\nif (cmdMatch) {\n  return [{ json: { isCommand: true, commandType: 'correct', payload: cmdMatch[2].trim(), sender, senderName, original: textRaw } }];\n}\n\n// === FILTROS PARA LANÇAMENTO NORMAL ===\nif (textRaw.replace(/\\s/g, '').length < 3) return [];\nif (!/\\d/.test(textRaw)) return [];\nif (/^[/!#@]/.test(textRaw)) return [];\n\nreturn [{ json: { isCommand: false, message: textRaw, sender, senderName } }];\n"}},{"id":"ai-parser","name":"🤖 IA — Interpretar Gasto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,500],"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({\"model\": \"gpt-4o-mini\", \"messages\": [{\"role\": \"system\", \"content\": \"Você é um assistente de controle financeiro familiar. Analise a mensagem em português e extraia as informações financeiras.\\n\\nCategorias de DESPESA disponíveis:\\n- Moradia (aluguel, condomínio AP, IPTU AP, luz/Cemig, água, gás, internet, empregada, e-social, faxineira)\\n- Outros Imóveis (IPTU, condomínio, manutenção de imóveis que não são sua moradia — ex: Boa Vista)\\n- Investimentos em Imóvel (compra de imóvel, entrada, parcela de financiamento, reforma valorizadora)\\n- Auxílio Familiar (Unimed Mãe, faxineira mãe, plano saúde família/parente, ajuda mensal pra parentes)\\n- Alimentação (supermercado, feira, padaria, hortifruti)\\n- Transporte (combustível, uber, ônibus, estacionamento, manutenção)\\n- Saúde (plano de saúde, medicamentos, farmácia, consultas, academia, personal, futebol)\\n- Educação (escola, faculdade, cursos, livros, material didático)\\n- Lazer & Restaurantes (restaurante, cinema, viagem, bar, shows, jogo de futebol, cadeiras MRV)\\n- Vestuário (roupas, calçados, acessórios)\\n- Pessoal & Beleza (cabelo, salão, higiene, cosméticos)\\n- Assinaturas & Streaming (Netflix, Spotify, Amazon, apps)\\n- Financeiro & Cartão (fatura cartão, empréstimo, seguro, IOF)\\n- Outros (doações, ajuda família, loterias, imprevistos)\\n\\nCategorias de RECEITA:\\n- Salário Wesley\\n- Salário Sabrina\\n- Pró-labore\\n- Freelance / Extra\\n- Rendimentos\\n- Outras Receitas\\n\\nREGRAS DE FORMA DE PAGAMENTO:\\n- \\\"pix\\\" → forma_pgto = \\\"PIX\\\"\\n- \\\"débito\\\", \\\"deb\\\" → forma_pgto = \\\"Débito\\\"\\n- \\\"dinheiro\\\", \\\"espécie\\\" → forma_pgto = \\\"Dinheiro\\\"\\n- \\\"crédito\\\", \\\"cred\\\", \\\"c\\\" (sozinho como token) → forma_pgto = \\\"Crédito\\\"\\n- Nome de cartão (xp, itau, itaú, nubank, inter, c6, etc) → forma_pgto = \\\"Crédito\\\" e cartao = nome do cartão (lowercase)\\n- \\\"xp wesley\\\" / \\\"xp sabrina\\\" / \\\"xp w\\\" / \\\"xp s\\\" → cartao com sufixo (ex: \\\"xp wesley\\\")\\n- Sem indicação em DESPESA → forma_pgto = \\\"Débito\\\" (default)\\n- Sem indicação em RECEITA → forma_pgto = \\\"Crédito em conta\\\" (default — salário, pró-labore, dividendos, rendimentos caem na conta corrente)\\n\\nREGRAS DE PARCELAMENTO:\\n- \\\"12x\\\", \\\"3x\\\", \\\"10 vezes\\\", \\\"em 6\\\" → parcelas = número, valor é o TOTAL (não dividido)\\n- Sem indicação → parcelas = 1\\n\\nREGRAS DE COMPETÊNCIA CUSTOMIZADA:\\n- Mês mencionado por nome (\\\"abril\\\", \\\"março\\\", \\\"dezembro\\\") → competencia_custom = \\\"MM\\\"\\n- Mês/ano (\\\"abril/2026\\\", \\\"março 2025\\\") → competencia_custom = \\\"MM/YYYY\\\"\\n- Sem indicação → competencia_custom = null\\n\\nResponda SOMENTE com JSON válido, sem markdown, neste formato:\\n{\\n  \\\"valor\\\": 0.00,\\n  \\\"categoria\\\": \\\"Nome da categoria\\\",\\n  \\\"descricao\\\": \\\"Descrição breve do gasto\\\",\\n  \\\"tipo\\\": \\\"Despesa\\\",\\n  \\\"forma_pgto\\\": \\\"Débito\\\",\\n  \\\"cartao\\\": null,\\n  \\\"parcelas\\\": 1,\\n  \\\"competencia_custom\\\": null,\\n  \\\"confianca\\\": \\\"alta\\\",\\n  \\\"emoji\\\": \\\"🛒\\\"\\n}\\n\\nExemplos:\\n- 'Mercado 150' → {\\\"valor\\\":150,\\\"categoria\\\":\\\"Alimentação\\\",\\\"descricao\\\":\\\"Supermercado\\\",\\\"tipo\\\":\\\"Despesa\\\",\\\"forma_pgto\\\":\\\"Débito\\\",\\\"cartao\\\":null,\\\"parcelas\\\":1,\\\"competencia_custom\\\":null,\\\"confianca\\\":\\\"alta\\\",\\\"emoji\\\":\\\"🛒\\\"}\\n- 'IPTU Boa Vista 1324' → {\\\"valor\\\":1324,\\\"categoria\\\":\\\"Imóvel Investimento\\\",\\\"descricao\\\":\\\"IPTU Boa Vista\\\",\\\"tipo\\\":\\\"Despesa\\\",\\\"forma_pgto\\\":\\\"Débito\\\",\\\"cartao\\\":null,\\\"parcelas\\\":1,\\\"competencia_custom\\\":null,\\\"confianca\\\":\\\"alta\\\",\\\"emoji\\\":\\\"🏠\\\"}\\n- 'Condomínio Boa Vista 781' → {\\\"valor\\\":781,\\\"categoria\\\":\\\"Imóvel Investimento\\\",\\\"descricao\\\":\\\"Condomínio Boa Vista\\\",\\\"tipo\\\":\\\"Despesa\\\",\\\"forma_pgto\\\":\\\"Débito\\\",\\\"cartao\\\":null,\\\"parcelas\\\":1,\\\"competencia_custom\\\":null,\\\"confianca\\\":\\\"alta\\\",\\\"emoji\\\":\\\"🏠\\\"}\\n- 'Condomínio AP 2628 pix' → {\\\"valor\\\":2628,\\\"categoria\\\":\\\"Moradia\\\",\\\"descricao\\\":\\\"Condomínio AP\\\",\\\"tipo\\\":\\\"Despesa\\\",\\\"forma_pgto\\\":\\\"PIX\\\",\\\"cartao\\\":null,\\\"parcelas\\\":1,\\\"competencia_custom\\\":null,\\\"confianca\\\":\\\"alta\\\",\\\"emoji\\\":\\\"🏢\\\"}\\n- 'Cemig 179' → {\\\"valor\\\":179,\\\"categoria\\\":\\\"Moradia\\\",\\\"descricao\\\":\\\"Cemig\\\",\\\"tipo\\\":\\\"Despesa\\\",\\\"forma_pgto\\\":\\\"Débito\\\",\\\"cartao\\\":null,\\\"parcelas\\\":1,\\\"competencia_custom\\\":null,\\\"confianca\\\":\\\"alta\\\",\\\"emoji\\\":\\\"💡\\\"}\\n- 'Salário 12000' → {\\\"valor\\\":12000,\\\"categoria\\\":\\\"Salário Wesley\\\",\\\"descricao\\\":\\\"Salário mensal\\\",\\\"tipo\\\":\\\"Receita\\\",\\\"forma_pgto\\\":\\\"Crédito em conta\\\",\\\"cartao\\\":null,\\\"parcelas\\\":1,\\\"competencia_custom\\\":null,\\\"confianca\\\":\\\"alta\\\",\\\"emoji\\\":\\\"💵\\\"}\\n- 'iFood 80 xp' → {\\\"valor\\\":80,\\\"categoria\\\":\\\"Lazer & Restaurantes\\\",\\\"descricao\\\":\\\"iFood\\\",\\\"tipo\\\":\\\"Despesa\\\",\\\"forma_pgto\\\":\\\"Crédito\\\",\\\"cartao\\\":\\\"xp\\\",\\\"parcelas\\\":1,\\\"competencia_custom\\\":null,\\\"confianca\\\":\\\"alta\\\",\\\"emoji\\\":\\\"🍔\\\"}\"}, {\"role\": \"user\", \"content\": $json.message}], \"temperature\": 0.2, \"max_tokens\": 800}) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"i7H3I9R1U1gdj7EM","name":"openai-bearer"}}},{"id":"format-data","name":"📊 Formatar para Planilha","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,500],"parameters":{"jsCode":"const msg = $('🔍 Extrair Texto da Mensagem').first().json;\nconst aiResponse = $input.first().json.message?.content ||\n  $input.first().json.choices?.[0]?.message?.content || '{}';\n\nlet parsed;\ntry {\n  parsed = JSON.parse(aiResponse);\n} catch(e) {\n  const match = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : {};\n}\n\n// ====== TABELA DE CARTÕES ======\n// Wesley e Sabrina compartilham config XP (mesmo fechamento/vencimento), mas tracking separado.\n// Itaú só Wesley.\nconst CARTOES = {\n  'xp wesley':  { fechamento: 6,  vencimento: 15, banco: 'XP Wesley',  aliases: ['xp w', 'xpw'] },\n  'xp sabrina': { fechamento: 6,  vencimento: 15, banco: 'XP Sabrina', aliases: ['xp s', 'xps'] },\n  'itau':       { fechamento: 30, vencimento: 8,  banco: 'Itaú Wesley', aliases: ['itaú', 'itau wesley', 'itaú wesley'] },\n};\nconst CARTAO_FALLBACK = { fechamento: 1, vencimento: 10, banco: 'Crédito' };\n\nfunction getCartao(nome, pessoa) {\n  if (!nome) return null;\n  const key = String(nome).toLowerCase().trim();\n  // Match exato\n  if (CARTOES[key]) return { ...CARTOES[key], chave: key };\n  // Match alias\n  for (const [k, c] of Object.entries(CARTOES)) {\n    if (c.aliases && c.aliases.some(a => a.toLowerCase() === key)) return { ...c, chave: k };\n  }\n  // Desambiguação: \"xp\" sozinho → resolve pela pessoa que lançou\n  if (key === 'xp') {\n    if (pessoa === 'Sabrina') return { ...CARTOES['xp sabrina'], chave: 'xp sabrina' };\n    return { ...CARTOES['xp wesley'], chave: 'xp wesley' };\n  }\n  return null;\n}\n\nconst pad = n => String(n).padStart(2, '0');\nconst fmtData = d => `${pad(d.getDate())}/${pad(d.getMonth()+1)}/${d.getFullYear()}`;\nconst fmtComp = d => `${pad(d.getMonth()+1)}/${d.getFullYear()}`;\nconst fmtBR = v => Number(v).toFixed(2).replace('.', ',');\n\nconst now = new Date();\nconst dataLancamento = fmtData(now);\n\n// ====== FORMA DE PAGAMENTO ======\nlet formaPgto = parsed.forma_pgto || 'Débito';\nconst cartaoNome = parsed.cartao || null;\nconst parcelas = Math.max(1, parseInt(parsed.parcelas) || 1);\nconst formaPgtoMap = {\n  'debito': 'Débito', 'débito': 'Débito',\n  'pix': 'PIX',\n  'dinheiro': 'Dinheiro', 'especie': 'Dinheiro', 'espécie': 'Dinheiro',\n  'credito': 'Crédito', 'crédito': 'Crédito',\n};\nformaPgto = formaPgtoMap[String(formaPgto).toLowerCase()] || formaPgto;\nif (cartaoNome) formaPgto = 'Crédito';\n\n// Default forma_pgto pra RECEITA quando IA não retornou (ou veio Débito por engano)\nconst tipoNorm = String(parsed.tipo || 'Despesa');\nif (tipoNorm === 'Receita' && (!parsed.forma_pgto || parsed.forma_pgto === 'Débito')) {\n  formaPgto = 'Crédito em conta';\n}\n\n// ====== COMPETÊNCIA BASE ======\nlet compBase = new Date(now.getFullYear(), now.getMonth(), 1);\nif (parsed.competencia_custom) {\n  const m = String(parsed.competencia_custom).match(/(\\d{1,2})(?:\\/(\\d{4}))?/);\n  if (m) {\n    const month = parseInt(m[1]) - 1;\n    const year = m[2] ? parseInt(m[2]) : now.getFullYear();\n    compBase = new Date(year, month, 1);\n  }\n}\n\n// ====== IDENTIFICAÇÃO DA PESSOA ======\nconst PEOPLE_LID = {\n  '100515321004134@lid': 'Wesley',\n  '244624274759793@lid': 'Sabrina',\n  '166069373243568@lid': 'Sabrina'\n};\nconst PEOPLE_PHONE = {\n  '553191186361': 'Wesley',\n  '553194349000': 'Sabrina',\n  '553184822101': 'Sabrina'\n};\nlet pessoa = 'Casal';\nconst senderRaw = msg.sender || '';\nif (PEOPLE_LID[senderRaw]) {\n  pessoa = PEOPLE_LID[senderRaw];\n} else {\n  const digits = senderRaw.replace(/[^0-9]/g, '');\n  for (const [phone, name] of Object.entries(PEOPLE_PHONE)) {\n    if (digits.includes(phone)) { pessoa = name; break; }\n  }\n}\n\nconst cartaoObj = getCartao(cartaoNome, pessoa);\nconst cartaoExibicao = cartaoObj ? cartaoObj.banco : (cartaoNome ? String(cartaoNome) : (formaPgto === 'Crédito' ? 'Crédito' : ''));\n\n// ====== DATA CAIXA ======\nfunction calcularDataCaixa(dataCompra, formaPgto, cartao) {\n  if (formaPgto !== 'Crédito') return new Date(dataCompra);\n  const c = cartao || CARTAO_FALLBACK;\n  const ano = dataCompra.getFullYear();\n  const mes = dataCompra.getMonth();\n  const dia = dataCompra.getDate();\n  // Se vencimento > fechamento, fatura vence no mesmo mês do fechamento. Senão, vence no mês seguinte.\n  const sameMonth = c.vencimento > c.fechamento;\n  let mesV, anoV;\n  if (dia <= c.fechamento) {\n    // entra na fatura desse fechamento\n    mesV = sameMonth ? mes : mes + 1;\n  } else {\n    // entra na próxima fatura\n    mesV = sameMonth ? mes + 1 : mes + 2;\n  }\n  anoV = ano;\n  while (mesV > 11) { anoV += 1; mesV -= 12; }\n  // Ajusta dia ao último do mês se vencimento não existir (ex: dia 31 em Fev)\n  const ultimoDiaMes = new Date(anoV, mesV + 1, 0).getDate();\n  const diaEfetivo = Math.min(c.vencimento, ultimoDiaMes);\n  return new Date(anoV, mesV, diaEfetivo);\n}\n\n// ====== GERAÇÃO DE ITEMS (1 ou N parcelas) ======\nconst valorTotal = parsed.valor || 0;\nconst valorParcela = parcelas > 1 ? Math.round((valorTotal / parcelas) * 100) / 100 : valorTotal;\n\nconst items = [];\nfor (let i = 0; i < parcelas; i++) {\n  const dcBase = calcularDataCaixa(now, formaPgto, cartaoObj);\n  const dataCaixa = new Date(dcBase.getFullYear(), dcBase.getMonth() + i, dcBase.getDate());\n  const compParcela = parcelas > 1 ?\n    new Date(compBase.getFullYear(), compBase.getMonth() + i, 1) :\n    compBase;\n  const descBase = parsed.descricao || msg.message;\n  const descParcela = parcelas > 1 ? `${descBase} (${i+1}/${parcelas})` : descBase;\n  items.push({\n    data: dataLancamento,\n    data_caixa: fmtData(dataCaixa),\n    competencia: fmtComp(compParcela),\n    tipo: parsed.tipo || 'Despesa',\n    categoria: parsed.categoria || 'Outros',\n    descricao: descParcela,\n    pessoa: pessoa,\n    forma_pgto: formaPgto,\n    cartao: cartaoExibicao,\n    parcelas: parcelas,\n    parcela_atual: i + 1,\n    parcela_label: parcelas > 1 ? `${i+1}/${parcelas}` : '',\n    valor: valorParcela,\n    emoji: parsed.emoji || '💸',\n    confianca: parsed.confianca || 'baixa',\n    mensagem_original: msg.message,\n    sender: msg.sender,\n    confirmacao: '',\n  });\n}\n\n// ====== CONFIRMAÇÃO (só no primeiro item; nó WhatsApp tem executeOnce) ======\nconst sinal = items[0].tipo === 'Receita' ? '💚' : (items[0].tipo === 'Investimento' ? '📈' : '💸');\nlet confirmacao;\nif (parcelas > 1) {\n  confirmacao = `${sinal} *Lançado parcelado!*\\n\\n` +\n    `${items[0].emoji} *${parsed.descricao || msg.message}*\\n` +\n    `💰 R$ ${fmtBR(valorTotal)} em ${parcelas}x de R$ ${fmtBR(valorParcela)}\\n` +\n    `📂 ${items[0].categoria} | ${items[0].tipo}\\n` +\n    `👤 ${pessoa}\\n` +\n    `💳 ${cartaoExibicao}\\n` +\n    `📅 1ª caixa: ${items[0].data_caixa} (comp ${items[0].competencia})\\n` +\n    `🔚 última comp: ${items[parcelas-1].competencia}` +\n    (items[0].confianca === 'baixa' ? '\\n\\n⚠️ _Baixa confiança — verifique_' : '');\n} else {\n  const it = items[0];\n  const linhaCaixa = it.forma_pgto === 'Crédito' ? `\\n💳 Caixa: ${it.data_caixa} (${cartaoExibicao})` : '';\n  confirmacao = `${sinal} *Lançado com sucesso!*\\n\\n` +\n    `${it.emoji} *${it.descricao}*\\n` +\n    `💰 R$ ${fmtBR(it.valor)}\\n` +\n    `📂 ${it.categoria} | ${it.tipo}\\n` +\n    `👤 ${pessoa}\\n` +\n    `💸 ${it.forma_pgto}` + linhaCaixa + `\\n` +\n    `📅 ${it.data} (comp: ${it.competencia})` +\n    (it.confianca === 'baixa' ? '\\n\\n⚠️ _Baixa confiança — verifique_' : '');\n}\nitems[0].confirmacao = confirmacao;\n\nreturn items.map(it => ({ json: it }));\n"}},{"id":"google-sheets","name":"📋 Salvar no Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1220,500],"continueOnFail":true,"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1cl9heM5gZiMVbGlWa8j_BlYEa0MwBq40k_bK27H_qaA","mode":"id"},"sheetName":{"__rl":true,"value":"Lançamentos","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{ $json.data }}","Competência":"={{ $json.competencia }}","Tipo":"={{ $json.tipo }}","Categoria":"={{ $json.categoria }}","Descrição":"={{ $json.descricao }}","Pessoa":"={{ $json.pessoa }}","Valor":"={{ $json.valor }}","Mensagem Original":"={{ $json.mensagem_original }}","Data Caixa":"={{ $json.data_caixa }}","Forma Pgto":"={{ $json.forma_pgto }}","Cartão":"={{ $json.cartao }}","Parcela":"={{ $json.parcela_label }}"}},"options":{},"authentication":"serviceAccount"},"credentials":{"googleApi":{"id":"yYfQvDCPuhFB5ELd","name":"Google Sheets account"}}},{"id":"respond-webhook","name":"✅ Responder Confirmação","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1660,500],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, confirmacao: $('📊 Formatar para Planilha').first().json.confirmacao, lancamento: { data: $('📊 Formatar para Planilha').first().json.data, categoria: $('📊 Formatar para Planilha').first().json.categoria, valor: $('📊 Formatar para Planilha').first().json.valor, tipo: $('📊 Formatar para Planilha').first().json.tipo, pessoa: $('📊 Formatar para Planilha').first().json.pessoa } }) }}","options":{"responseCode":200}}},{"id":"error-handler","name":"❌ Tratar Erros","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[560,700],"parameters":{"respondWith":"json","responseBody":"{\"success\": false, \"erro\": \"Não consegui entender a mensagem. Tente: 'Mercado 150' ou 'Uber 35 transporte'\"}","options":{"responseCode":400}}},{"id":"1df6a7ba-7b12-47d8-960a-938e699e72bd","name":"📲 Enviar Confirmação WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,500],"parameters":{"method":"POST","url":"https://evolution-api-production-8e8e.up.railway.app/message/sendText/financeiro-familiar","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({\"number\": \"120363409520000410@g.us\", \"text\": $('📊 Formatar para Planilha').first().json.confirmacao}) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"lDpYOrlXMdcPVwH6","name":"evolution-financeiro"}},"executeOnce":true},{"id":"sheets-read-corr","name":"📋 Ler Lançamentos","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[780,300],"parameters":{"authentication":"serviceAccount","operation":"read","documentId":{"__rl":true,"value":"1cl9heM5gZiMVbGlWa8j_BlYEa0MwBq40k_bK27H_qaA","mode":"id"},"sheetName":{"__rl":true,"value":"Lançamentos","mode":"name"},"options":{}},"credentials":{"googleApi":{"id":"yYfQvDCPuhFB5ELd","name":"Google Sheets account"}}},{"id":"code-corr","name":"🔧 Aplicar Correção","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,300],"parameters":{"jsCode":"// Aplica a correção no último lançamento da pessoa\nconst rows = $input.all();\nconst cmd = $('🔍 Extrair Texto da Mensagem').first().json;\nconst sender = cmd.sender || '';\n\n// Identifica pessoa\nconst PEOPLE_LID = {\n  '100515321004134@lid': 'Wesley',\n  '244624274759793@lid': 'Sabrina',\n  '166069373243568@lid': 'Sabrina'\n};\nconst PEOPLE_PHONE = {\n  '553191186361': 'Wesley',\n  '553194349000': 'Sabrina',\n  '553184822101': 'Sabrina'\n};\nlet pessoa = 'Casal';\nif (PEOPLE_LID[sender]) pessoa = PEOPLE_LID[sender];\nelse {\n  const digits = String(sender).replace(/[^0-9]/g, '');\n  for (const [phone, name] of Object.entries(PEOPLE_PHONE)) {\n    if (digits.includes(phone)) { pessoa = name; break; }\n  }\n}\n\n// Filtra linhas da pessoa, pega o último (maior row_number)\nconst myRows = rows.filter(r => r.json['Pessoa'] === pessoa);\nif (myRows.length === 0) {\n  return [{ json: { confirmacao: `⚠️ Não encontrei lançamento seu pra corrigir, ${pessoa}.` } }];\n}\n// Pega o de maior row_number\nmyRows.sort((a, b) => (b.json.row_number || 0) - (a.json.row_number || 0));\nconst target = myRows[0].json;\nconst rowNumber = target.row_number;\n\n// === Aplicar correção ===\nconst CARTOES = {\n  'xp wesley':  { fechamento: 6,  vencimento: 15, banco: 'XP Wesley',  aliases: ['xp w', 'xpw'] },\n  'xp sabrina': { fechamento: 6,  vencimento: 15, banco: 'XP Sabrina', aliases: ['xp s', 'xps'] },\n  'itau':       { fechamento: 30, vencimento: 8,  banco: 'Itaú Wesley', aliases: ['itaú'] },\n};\n\nfunction getCartao(nome, pessoa) {\n  if (!nome) return null;\n  const key = String(nome).toLowerCase().trim();\n  if (CARTOES[key]) return { ...CARTOES[key], chave: key };\n  for (const [k, c] of Object.entries(CARTOES)) {\n    if (c.aliases && c.aliases.some(a => a.toLowerCase() === key)) return { ...c, chave: k };\n  }\n  if (key === 'xp') return { ...CARTOES[pessoa === 'Sabrina' ? 'xp sabrina' : 'xp wesley'] };\n  return null;\n}\n\nconst pad = n => String(n).padStart(2, '0');\nconst fmtData = d => `${pad(d.getDate())}/${pad(d.getMonth()+1)}/${d.getFullYear()}`;\n\nfunction calcDataCaixa(dataCompra, formaPgto, cartao) {\n  if (formaPgto !== 'Crédito') return new Date(dataCompra);\n  const c = cartao || { fechamento: 1, vencimento: 10 };\n  const sameMonth = c.vencimento > c.fechamento;\n  const mes = dataCompra.getMonth();\n  const dia = dataCompra.getDate();\n  let mesV;\n  if (dia <= c.fechamento) mesV = sameMonth ? mes : mes + 1;\n  else mesV = sameMonth ? mes + 1 : mes + 2;\n  let anoV = dataCompra.getFullYear();\n  while (mesV > 11) { anoV += 1; mesV -= 12; }\n  const ultimo = new Date(anoV, mesV + 1, 0).getDate();\n  return new Date(anoV, mesV, Math.min(c.vencimento, ultimo));\n}\n\n// Parse data lançamento (string DD/MM/YYYY ou objeto Date)\nconst dataStr = target['Data'];\nlet dataCompra;\nif (typeof dataStr === 'string' && /^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(dataStr)) {\n  const [d, m, y] = dataStr.split('/').map(Number);\n  dataCompra = new Date(y, m - 1, d);\n} else {\n  dataCompra = new Date();\n}\n\nconst payload = String(cmd.payload || '').toLowerCase().trim();\nconst tokens = payload.split(/\\s+/);\n\nlet novoFormaPgto = target['Forma Pgto'];\nlet novoCartao = target['Cartão'] || '';\nlet novoDataCaixa = target['Data Caixa'];\nconst acoes = [];\n\n// Detectar token Nx (parcelas) — pra corrigir parcelado é complexo; ignoro nesta versão e marco TODO\nconst parcelaMatch = payload.match(/(\\d+)\\s*x/i);\n\nfor (const t of tokens) {\n  // forma pgto / cartão\n  if (t === 'pix') { novoFormaPgto = 'PIX'; novoCartao = ''; acoes.push('PIX'); }\n  else if (t === 'débito' || t === 'debito') { novoFormaPgto = 'Débito'; novoCartao = ''; acoes.push('Débito'); }\n  else if (t === 'dinheiro') { novoFormaPgto = 'Dinheiro'; novoCartao = ''; acoes.push('Dinheiro'); }\n  else if (t === 'crédito' || t === 'credito') { novoFormaPgto = 'Crédito'; acoes.push('Crédito'); }\n  else if (t === 'xp' || t === 'itau' || t === 'itaú') {\n    novoFormaPgto = 'Crédito';\n    const c = getCartao(t, pessoa);\n    if (c) { novoCartao = c.banco; acoes.push(`cartão ${c.banco}`); }\n  }\n}\n\n// Verifica combinações \"xp wesley\", \"xp sabrina\"\nif (/xp\\s+wesley/i.test(payload)) {\n  novoFormaPgto = 'Crédito';\n  novoCartao = 'XP Wesley';\n  acoes.push('cartão XP Wesley');\n}\nif (/xp\\s+sabrina/i.test(payload)) {\n  novoFormaPgto = 'Crédito';\n  novoCartao = 'XP Sabrina';\n  acoes.push('cartão XP Sabrina');\n}\n\n// Recalcula Data Caixa se mudou forma pgto pra Crédito ou se mudou cartão\nif (novoFormaPgto === 'Crédito' && novoCartao) {\n  const cartao = getCartao(novoCartao.replace('XP ', 'xp ').toLowerCase(), pessoa);\n  const dc = calcDataCaixa(dataCompra, novoFormaPgto, cartao);\n  novoDataCaixa = fmtData(dc);\n} else if (novoFormaPgto !== 'Crédito') {\n  novoDataCaixa = fmtData(dataCompra);\n}\n\nif (acoes.length === 0) {\n  return [{ json: { confirmacao: `⚠️ Não entendi a correção: \"${cmd.payload}\".\\nFormatos aceitos: \"corrigir xp\", \"corrigir pix\", \"corrigir débito\", \"corrigir xp wesley\", \"corrigir xp sabrina\", \"corrigir itau\".` } }];\n}\n\n// Monta retorno pra update sheets — precisa colunas + row\nconst fmtBR = v => Number(v).toFixed(2).replace('.', ',');\nconst valor = target['Valor'];\n\nconst confirmacao = `✏️ *Corrigido!*\\n\\n` +\n  `${target['Descrição']}\\n` +\n  `💰 R$ ${fmtBR(valor)}\\n` +\n  `🔧 Alterações: ${acoes.join(', ')}\\n` +\n  `💳 Forma: ${novoFormaPgto}${novoCartao ? ` (${novoCartao})` : ''}\\n` +\n  `📅 Data Caixa: ${novoDataCaixa}`;\n\nreturn [{\n  json: {\n    row_number: rowNumber,\n    'Forma Pgto': novoFormaPgto,\n    'Cartão': novoCartao,\n    'Data Caixa': novoDataCaixa,\n    confirmacao,\n  }\n}];\n"}},{"id":"sheets-update-corr","name":"📋 Update Linha","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1220,300],"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1cl9heM5gZiMVbGlWa8j_BlYEa0MwBq40k_bK27H_qaA","mode":"id"},"sheetName":{"__rl":true,"value":"Lançamentos","mode":"name"},"columns":{"mappingMode":"defineBelow","matchingColumns":["row_number"],"value":{"row_number":"={{ $json.row_number }}","Forma Pgto":"={{ $json['Forma Pgto'] }}","Cartão":"={{ $json['Cartão'] }}","Data Caixa":"={{ $json['Data Caixa'] }}"}},"options":{}},"credentials":{"googleApi":{"id":"yYfQvDCPuhFB5ELd","name":"Google Sheets account"}}},{"id":"wpp-corr","name":"📲 Confirma Correção WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,300],"executeOnce":true,"parameters":{"method":"POST","url":"https://evolution-api-production-8e8e.up.railway.app/message/sendText/financeiro-familiar","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({\"number\": \"120363409520000410@g.us\", \"text\": $('🔧 Aplicar Correção').first().json.confirmacao}) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"lDpYOrlXMdcPVwH6","name":"evolution-financeiro"}}},{"id":"switch-cmd","name":"🔀 Tipo de Mensagem","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[560,300],"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.commandType }}","rightValue":"delete","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"delete"},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"strict"},"conditions":[{"id":"c2","leftValue":"={{ $json.commandType }}","rightValue":"correct","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"correct"},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"id":"c3","leftValue":"={{ $json.isCommand }}","rightValue":false,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"normal"}]},"options":{}}},{"id":"sheets-read-del","name":"📋 Ler Lançamentos (Delete)","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[780,100],"parameters":{"authentication":"serviceAccount","operation":"read","documentId":{"__rl":true,"value":"1cl9heM5gZiMVbGlWa8j_BlYEa0MwBq40k_bK27H_qaA","mode":"id"},"sheetName":{"__rl":true,"value":"Lançamentos","mode":"name"},"options":{}},"credentials":{"googleApi":{"id":"yYfQvDCPuhFB5ELd","name":"Google Sheets account"}}},{"id":"code-del","name":"🔧 Preparar Delete","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,100],"parameters":{"jsCode":"// Identifica e prepara delete do último lançamento da pessoa\nconst rows = $input.all();\nconst cmd = $('🔍 Extrair Texto da Mensagem').first().json;\nconst sender = cmd.sender || '';\n\nconst PEOPLE_LID = {\n  '100515321004134@lid': 'Wesley',\n  '244624274759793@lid': 'Sabrina',\n  '166069373243568@lid': 'Sabrina'\n};\nconst PEOPLE_PHONE = {\n  '553191186361': 'Wesley',\n  '553194349000': 'Sabrina',\n  '553184822101': 'Sabrina'\n};\nlet pessoa = 'Casal';\nif (PEOPLE_LID[sender]) pessoa = PEOPLE_LID[sender];\nelse {\n  const digits = String(sender).replace(/[^0-9]/g, '');\n  for (const [phone, name] of Object.entries(PEOPLE_PHONE)) {\n    if (digits.includes(phone)) { pessoa = name; break; }\n  }\n}\n\nconst myRows = rows.filter(r => r.json['Pessoa'] === pessoa);\nif (myRows.length === 0) {\n  return [{ json: { skipDelete: true, confirmacao: `⚠️ Não encontrei lançamento seu pra deletar, ${pessoa}.` } }];\n}\nmyRows.sort((a, b) => (b.json.row_number || 0) - (a.json.row_number || 0));\nconst target = myRows[0].json;\n\n// Não permitir deletar recorrente (descrição começa com [recorrente])\nconst msgOrig = String(target['Mensagem Original'] || '');\nif (msgOrig.startsWith('[recorrente]')) {\n  return [{ json: { skipDelete: true, confirmacao: `⚠️ Não posso deletar lançamento recorrente: ${target['Descrição']}.\\nUse a aba Recorrentes pra desativar.` } }];\n}\n\nconst fmtBR = v => Number(v).toFixed(2).replace('.', ',');\nconst confirmacao = `🗑️ *Apagado!*\\n\\n` +\n  `${target['Descrição']}\\n` +\n  `💰 R$ ${fmtBR(target['Valor'])}\\n` +\n  `📅 ${target['Data']}\\n` +\n  `(linha ${target.row_number})`;\n\nreturn [{ json: { skipDelete: false, row_number: target.row_number, confirmacao } }];\n"}},{"id":"sheets-delete","name":"🗑️ Apagar Linha","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1220,100],"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"delete","documentId":{"__rl":true,"value":"1cl9heM5gZiMVbGlWa8j_BlYEa0MwBq40k_bK27H_qaA","mode":"id"},"sheetName":{"__rl":true,"value":"Lançamentos","mode":"name"},"toDelete":"rows","startIndex":"={{ $json.row_number - 1 }}","numberToDelete":1},"credentials":{"googleApi":{"id":"yYfQvDCPuhFB5ELd","name":"Google Sheets account"}}},{"id":"wpp-del","name":"📲 Confirma Delete WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,100],"executeOnce":true,"parameters":{"method":"POST","url":"https://evolution-api-production-8e8e.up.railway.app/message/sendText/financeiro-familiar","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({\"number\": \"120363409520000410@g.us\", \"text\": $('🔧 Preparar Delete').first().json.confirmacao}) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"lDpYOrlXMdcPVwH6","name":"evolution-financeiro"}}}],"connections":{"📱 Receber Mensagem WhatsApp":{"main":[[{"node":"🔍 Extrair Texto da Mensagem","type":"main","index":0}]]},"🔍 Extrair Texto da Mensagem":{"main":[[{"node":"🔀 Tipo de Mensagem","type":"main","index":0}],[{"node":"❌ Tratar Erros","type":"main","index":0}]]},"🔀 Tipo de Mensagem":{"main":[[{"node":"📋 Ler Lançamentos (Delete)","type":"main","index":0}],[{"node":"📋 Ler Lançamentos","type":"main","index":0}],[{"node":"🤖 IA — Interpretar Gasto","type":"main","index":0}]]},"📋 Ler Lançamentos (Delete)":{"main":[[{"node":"🔧 Preparar Delete","type":"main","index":0}]]},"🔧 Preparar Delete":{"main":[[{"node":"🗑️ Apagar Linha","type":"main","index":0}]]},"🗑️ Apagar Linha":{"main":[[{"node":"📲 Confirma Delete WhatsApp","type":"main","index":0}]]},"📋 Ler Lançamentos":{"main":[[{"node":"🔧 Aplicar Correção","type":"main","index":0}]]},"🔧 Aplicar Correção":{"main":[[{"node":"📋 Update Linha","type":"main","index":0}]]},"📋 Update Linha":{"main":[[{"node":"📲 Confirma Correção WhatsApp","type":"main","index":0}]]},"🤖 IA — Interpretar Gasto":{"main":[[{"node":"📊 Formatar para Planilha","type":"main","index":0}]]},"📊 Formatar para Planilha":{"main":[[{"node":"📋 Salvar no Google Sheets","type":"main","index":0}]]},"📋 Salvar no Google Sheets":{"main":[[{"node":"📲 Enviar Confirmação WhatsApp","type":"main","index":0}]]},"📲 Enviar Confirmação WhatsApp":{"main":[[{"node":"✅ Responder Confirmação","type":"main","index":0}]]}},"settings":{"timezone":"America/Sao_Paulo","executionOrder":"v1","saveDataSuccessExecution":"all","saveDataErrorExecution":"all"},"staticData":null,"meta":null,"pinData":null,"versionId":"ce8cdfa5-1654-4f0b-8a01-6ca85467dfed","activeVersionId":"ce8cdfa5-1654-4f0b-8a01-6ca85467dfed","versionCounter":49,"triggerCount":1,"shared":[{"updatedAt":"2026-05-12T22:20:02.608Z","createdAt":"2026-05-12T22:20:02.608Z","role":"workflow:owner","workflowId":"xQHgAqsOa5kTuMyf","projectId":"ZxmQtwX584009Vdx","project":{"updatedAt":"2026-05-12T22:17:47.976Z","createdAt":"2026-05-12T22:14:44.290Z","id":"ZxmQtwX584009Vdx","name":"Wesley Geraldo Gomes <wesley.gomes@me.com>","type":"personal","icon":null,"description":null,"creatorId":"4cb54a2c-081f-4c9e-ae99-20a1126cddb2"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-21T17:46:56.631Z","createdAt":"2026-05-21T17:46:56.631Z","versionId":"ce8cdfa5-1654-4f0b-8a01-6ca85467dfed","workflowId":"xQHgAqsOa5kTuMyf","nodes":[{"id":"webhook-trigger","name":"📱 Receber Mensagem WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[120,300],"parameters":{"httpMethod":"POST","path":"financeiro-familiar","responseMode":"responseNode","options":{}},"webhookId":"e5a9a6ca-a9a3-4a01-8fd7-4cac4f22e0df"},{"id":"extract-message","name":"🔍 Extrair Texto da Mensagem","type":"n8n-nodes-base.code","typeVersion":2,"position":[340,300],"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst remoteJid = body.data?.key?.remoteJid || body.from || '';\nconst TARGET_GROUP = '120363409520000410@g.us';\nif (remoteJid !== TARGET_GROUP) return [];\n\nconst message =\n  body.message?.conversation ||\n  body.message?.extendedTextMessage?.text ||\n  body.text?.message ||\n  body.body ||\n  body.message ||\n  body.data?.message?.conversation ||\n  body.data?.message?.extendedTextMessage?.text ||\n  '';\nconst textRaw = String(message).trim();\n\nconst msgObj = body.data?.message || body.message || {};\nconst isMedia = msgObj.audioMessage || msgObj.imageMessage || msgObj.videoMessage ||\n  msgObj.stickerMessage || msgObj.documentMessage || msgObj.reactionMessage ||\n  msgObj.locationMessage || msgObj.contactMessage;\nif (isMedia) return [];\nif (!textRaw) return [];\n\nconst sender = body.data?.key?.participant || body.sender || body.from || 'desconhecido';\nconst senderName = body.data?.pushName || body.senderName || body.name || sender;\n\n// === DETECÇÃO DE COMANDO ===\n// Padrões aceitos:\n//   corrigir/ajustar/editar [último/ultimo] <ação>\n//   deletar/apagar [último/ultimo]\nconst cmdMatch = textRaw.match(/^(corrigir|ajustar|editar)\\s+(?:último\\s+|ultimo\\s+)?(.+)$/i);\nconst delMatch = textRaw.match(/^(deletar|apagar)\\s+(?:último|ultimo)?$/i);\n\nif (delMatch) {\n  return [{ json: { isCommand: true, commandType: 'delete', sender, senderName, original: textRaw } }];\n}\nif (cmdMatch) {\n  return [{ json: { isCommand: true, commandType: 'correct', payload: cmdMatch[2].trim(), sender, senderName, original: textRaw } }];\n}\n\n// === FILTROS PARA LANÇAMENTO NORMAL ===\nif (textRaw.replace(/\\s/g, '').length < 3) return [];\nif (!/\\d/.test(textRaw)) return [];\nif (/^[/!#@]/.test(textRaw)) return [];\n\nreturn [{ json: { isCommand: false, message: textRaw, sender, senderName } }];\n"}},{"id":"ai-parser","name":"🤖 IA — Interpretar Gasto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,500],"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({\"model\": \"gpt-4o-mini\", \"messages\": [{\"role\": \"system\", \"content\": \"Você é um assistente de controle financeiro familiar. Analise a mensagem em português e extraia as informações financeiras.\\n\\nCategorias de DESPESA disponíveis:\\n- Moradia (aluguel, condomínio AP, IPTU AP, luz/Cemig, água, gás, internet, empregada, e-social, faxineira)\\n- Outros Imóveis (IPTU, condomínio, manutenção de imóveis que não são sua moradia — ex: Boa Vista)\\n- Investimentos em Imóvel (compra de imóvel, entrada, parcela de financiamento, reforma valorizadora)\\n- Auxílio Familiar (Unimed Mãe, faxineira mãe, plano saúde família/parente, ajuda mensal pra parentes)\\n- Alimentação (supermercado, feira, padaria, hortifruti)\\n- Transporte (combustível, uber, ônibus, estacionamento, manutenção)\\n- Saúde (plano de saúde, medicamentos, farmácia, consultas, academia, personal, futebol)\\n- Educação (escola, faculdade, cursos, livros, material didático)\\n- Lazer & Restaurantes (restaurante, cinema, viagem, bar, shows, jogo de futebol, cadeiras MRV)\\n- Vestuário (roupas, calçados, acessórios)\\n- Pessoal & Beleza (cabelo, salão, higiene, cosméticos)\\n- Assinaturas & Streaming (Netflix, Spotify, Amazon, apps)\\n- Financeiro & Cartão (fatura cartão, empréstimo, seguro, IOF)\\n- Outros (doações, ajuda família, loterias, imprevistos)\\n\\nCategorias de RECEITA:\\n- Salário Wesley\\n- Salário Sabrina\\n- Pró-labore\\n- Freelance / Extra\\n- Rendimentos\\n- Outras Receitas\\n\\nREGRAS DE FORMA DE PAGAMENTO:\\n- \\\"pix\\\" → forma_pgto = \\\"PIX\\\"\\n- \\\"débito\\\", \\\"deb\\\" → forma_pgto = \\\"Débito\\\"\\n- \\\"dinheiro\\\", \\\"espécie\\\" → forma_pgto = \\\"Dinheiro\\\"\\n- \\\"crédito\\\", \\\"cred\\\", \\\"c\\\" (sozinho como token) → forma_pgto = \\\"Crédito\\\"\\n- Nome de cartão (xp, itau, itaú, nubank, inter, c6, etc) → forma_pgto = \\\"Crédito\\\" e cartao = nome do cartão (lowercase)\\n- \\\"xp wesley\\\" / \\\"xp sabrina\\\" / \\\"xp w\\\" / \\\"xp s\\\" → cartao com sufixo (ex: \\\"xp wesley\\\")\\n- Sem indicação em DESPESA → forma_pgto = \\\"Débito\\\" (default)\\n- Sem indicação em RECEITA → forma_pgto = \\\"Crédito em conta\\\" (default — salário, pró-labore, dividendos, rendimentos caem na conta corrente)\\n\\nREGRAS DE PARCELAMENTO:\\n- \\\"12x\\\", \\\"3x\\\", \\\"10 vezes\\\", \\\"em 6\\\" → parcelas = número, valor é o TOTAL (não dividido)\\n- Sem indicação → parcelas = 1\\n\\nREGRAS DE COMPETÊNCIA CUSTOMIZADA:\\n- Mês mencionado por nome (\\\"abril\\\", \\\"março\\\", \\\"dezembro\\\") → competencia_custom = \\\"MM\\\"\\n- Mês/ano (\\\"abril/2026\\\", \\\"março 2025\\\") → competencia_custom = \\\"MM/YYYY\\\"\\n- Sem indicação → competencia_custom = null\\n\\nResponda SOMENTE com JSON válido, sem markdown, neste formato:\\n{\\n  \\\"valor\\\": 0.00,\\n  \\\"categoria\\\": \\\"Nome da categoria\\\",\\n  \\\"descricao\\\": \\\"Descrição breve do gasto\\\",\\n  \\\"tipo\\\": \\\"Despesa\\\",\\n  \\\"forma_pgto\\\": \\\"Débito\\\",\\n  \\\"cartao\\\": null,\\n  \\\"parcelas\\\": 1,\\n  \\\"competencia_custom\\\": null,\\n  \\\"confianca\\\": \\\"alta\\\",\\n  \\\"emoji\\\": \\\"🛒\\\"\\n}\\n\\nExemplos:\\n- 'Mercado 150' → {\\\"valor\\\":150,\\\"categoria\\\":\\\"Alimentação\\\",\\\"descricao\\\":\\\"Supermercado\\\",\\\"tipo\\\":\\\"Despesa\\\",\\\"forma_pgto\\\":\\\"Débito\\\",\\\"cartao\\\":null,\\\"parcelas\\\":1,\\\"competencia_custom\\\":null,\\\"confianca\\\":\\\"alta\\\",\\\"emoji\\\":\\\"🛒\\\"}\\n- 'IPTU Boa Vista 1324' → {\\\"valor\\\":1324,\\\"categoria\\\":\\\"Imóvel Investimento\\\",\\\"descricao\\\":\\\"IPTU Boa Vista\\\",\\\"tipo\\\":\\\"Despesa\\\",\\\"forma_pgto\\\":\\\"Débito\\\",\\\"cartao\\\":null,\\\"parcelas\\\":1,\\\"competencia_custom\\\":null,\\\"confianca\\\":\\\"alta\\\",\\\"emoji\\\":\\\"🏠\\\"}\\n- 'Condomínio Boa Vista 781' → {\\\"valor\\\":781,\\\"categoria\\\":\\\"Imóvel Investimento\\\",\\\"descricao\\\":\\\"Condomínio Boa Vista\\\",\\\"tipo\\\":\\\"Despesa\\\",\\\"forma_pgto\\\":\\\"Débito\\\",\\\"cartao\\\":null,\\\"parcelas\\\":1,\\\"competencia_custom\\\":null,\\\"confianca\\\":\\\"alta\\\",\\\"emoji\\\":\\\"🏠\\\"}\\n- 'Condomínio AP 2628 pix' → {\\\"valor\\\":2628,\\\"categoria\\\":\\\"Moradia\\\",\\\"descricao\\\":\\\"Condomínio AP\\\",\\\"tipo\\\":\\\"Despesa\\\",\\\"forma_pgto\\\":\\\"PIX\\\",\\\"cartao\\\":null,\\\"parcelas\\\":1,\\\"competencia_custom\\\":null,\\\"confianca\\\":\\\"alta\\\",\\\"emoji\\\":\\\"🏢\\\"}\\n- 'Cemig 179' → {\\\"valor\\\":179,\\\"categoria\\\":\\\"Moradia\\\",\\\"descricao\\\":\\\"Cemig\\\",\\\"tipo\\\":\\\"Despesa\\\",\\\"forma_pgto\\\":\\\"Débito\\\",\\\"cartao\\\":null,\\\"parcelas\\\":1,\\\"competencia_custom\\\":null,\\\"confianca\\\":\\\"alta\\\",\\\"emoji\\\":\\\"💡\\\"}\\n- 'Salário 12000' → {\\\"valor\\\":12000,\\\"categoria\\\":\\\"Salário Wesley\\\",\\\"descricao\\\":\\\"Salário mensal\\\",\\\"tipo\\\":\\\"Receita\\\",\\\"forma_pgto\\\":\\\"Crédito em conta\\\",\\\"cartao\\\":null,\\\"parcelas\\\":1,\\\"competencia_custom\\\":null,\\\"confianca\\\":\\\"alta\\\",\\\"emoji\\\":\\\"💵\\\"}\\n- 'iFood 80 xp' → {\\\"valor\\\":80,\\\"categoria\\\":\\\"Lazer & Restaurantes\\\",\\\"descricao\\\":\\\"iFood\\\",\\\"tipo\\\":\\\"Despesa\\\",\\\"forma_pgto\\\":\\\"Crédito\\\",\\\"cartao\\\":\\\"xp\\\",\\\"parcelas\\\":1,\\\"competencia_custom\\\":null,\\\"confianca\\\":\\\"alta\\\",\\\"emoji\\\":\\\"🍔\\\"}\"}, {\"role\": \"user\", \"content\": $json.message}], \"temperature\": 0.2, \"max_tokens\": 800}) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"i7H3I9R1U1gdj7EM","name":"openai-bearer"}}},{"id":"format-data","name":"📊 Formatar para Planilha","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,500],"parameters":{"jsCode":"const msg = $('🔍 Extrair Texto da Mensagem').first().json;\nconst aiResponse = $input.first().json.message?.content ||\n  $input.first().json.choices?.[0]?.message?.content || '{}';\n\nlet parsed;\ntry {\n  parsed = JSON.parse(aiResponse);\n} catch(e) {\n  const match = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : {};\n}\n\n// ====== TABELA DE CARTÕES ======\n// Wesley e Sabrina compartilham config XP (mesmo fechamento/vencimento), mas tracking separado.\n// Itaú só Wesley.\nconst CARTOES = {\n  'xp wesley':  { fechamento: 6,  vencimento: 15, banco: 'XP Wesley',  aliases: ['xp w', 'xpw'] },\n  'xp sabrina': { fechamento: 6,  vencimento: 15, banco: 'XP Sabrina', aliases: ['xp s', 'xps'] },\n  'itau':       { fechamento: 30, vencimento: 8,  banco: 'Itaú Wesley', aliases: ['itaú', 'itau wesley', 'itaú wesley'] },\n};\nconst CARTAO_FALLBACK = { fechamento: 1, vencimento: 10, banco: 'Crédito' };\n\nfunction getCartao(nome, pessoa) {\n  if (!nome) return null;\n  const key = String(nome).toLowerCase().trim();\n  // Match exato\n  if (CARTOES[key]) return { ...CARTOES[key], chave: key };\n  // Match alias\n  for (const [k, c] of Object.entries(CARTOES)) {\n    if (c.aliases && c.aliases.some(a => a.toLowerCase() === key)) return { ...c, chave: k };\n  }\n  // Desambiguação: \"xp\" sozinho → resolve pela pessoa que lançou\n  if (key === 'xp') {\n    if (pessoa === 'Sabrina') return { ...CARTOES['xp sabrina'], chave: 'xp sabrina' };\n    return { ...CARTOES['xp wesley'], chave: 'xp wesley' };\n  }\n  return null;\n}\n\nconst pad = n => String(n).padStart(2, '0');\nconst fmtData = d => `${pad(d.getDate())}/${pad(d.getMonth()+1)}/${d.getFullYear()}`;\nconst fmtComp = d => `${pad(d.getMonth()+1)}/${d.getFullYear()}`;\nconst fmtBR = v => Number(v).toFixed(2).replace('.', ',');\n\nconst now = new Date();\nconst dataLancamento = fmtData(now);\n\n// ====== FORMA DE PAGAMENTO ======\nlet formaPgto = parsed.forma_pgto || 'Débito';\nconst cartaoNome = parsed.cartao || null;\nconst parcelas = Math.max(1, parseInt(parsed.parcelas) || 1);\nconst formaPgtoMap = {\n  'debito': 'Débito', 'débito': 'Débito',\n  'pix': 'PIX',\n  'dinheiro': 'Dinheiro', 'especie': 'Dinheiro', 'espécie': 'Dinheiro',\n  'credito': 'Crédito', 'crédito': 'Crédito',\n};\nformaPgto = formaPgtoMap[String(formaPgto).toLowerCase()] || formaPgto;\nif (cartaoNome) formaPgto = 'Crédito';\n\n// Default forma_pgto pra RECEITA quando IA não retornou (ou veio Débito por engano)\nconst tipoNorm = String(parsed.tipo || 'Despesa');\nif (tipoNorm === 'Receita' && (!parsed.forma_pgto || parsed.forma_pgto === 'Débito')) {\n  formaPgto = 'Crédito em conta';\n}\n\n// ====== COMPETÊNCIA BASE ======\nlet compBase = new Date(now.getFullYear(), now.getMonth(), 1);\nif (parsed.competencia_custom) {\n  const m = String(parsed.competencia_custom).match(/(\\d{1,2})(?:\\/(\\d{4}))?/);\n  if (m) {\n    const month = parseInt(m[1]) - 1;\n    const year = m[2] ? parseInt(m[2]) : now.getFullYear();\n    compBase = new Date(year, month, 1);\n  }\n}\n\n// ====== IDENTIFICAÇÃO DA PESSOA ======\nconst PEOPLE_LID = {\n  '100515321004134@lid': 'Wesley',\n  '244624274759793@lid': 'Sabrina',\n  '166069373243568@lid': 'Sabrina'\n};\nconst PEOPLE_PHONE = {\n  '553191186361': 'Wesley',\n  '553194349000': 'Sabrina',\n  '553184822101': 'Sabrina'\n};\nlet pessoa = 'Casal';\nconst senderRaw = msg.sender || '';\nif (PEOPLE_LID[senderRaw]) {\n  pessoa = PEOPLE_LID[senderRaw];\n} else {\n  const digits = senderRaw.replace(/[^0-9]/g, '');\n  for (const [phone, name] of Object.entries(PEOPLE_PHONE)) {\n    if (digits.includes(phone)) { pessoa = name; break; }\n  }\n}\n\nconst cartaoObj = getCartao(cartaoNome, pessoa);\nconst cartaoExibicao = cartaoObj ? cartaoObj.banco : (cartaoNome ? String(cartaoNome) : (formaPgto === 'Crédito' ? 'Crédito' : ''));\n\n// ====== DATA CAIXA ======\nfunction calcularDataCaixa(dataCompra, formaPgto, cartao) {\n  if (formaPgto !== 'Crédito') return new Date(dataCompra);\n  const c = cartao || CARTAO_FALLBACK;\n  const ano = dataCompra.getFullYear();\n  const mes = dataCompra.getMonth();\n  const dia = dataCompra.getDate();\n  // Se vencimento > fechamento, fatura vence no mesmo mês do fechamento. Senão, vence no mês seguinte.\n  const sameMonth = c.vencimento > c.fechamento;\n  let mesV, anoV;\n  if (dia <= c.fechamento) {\n    // entra na fatura desse fechamento\n    mesV = sameMonth ? mes : mes + 1;\n  } else {\n    // entra na próxima fatura\n    mesV = sameMonth ? mes + 1 : mes + 2;\n  }\n  anoV = ano;\n  while (mesV > 11) { anoV += 1; mesV -= 12; }\n  // Ajusta dia ao último do mês se vencimento não existir (ex: dia 31 em Fev)\n  const ultimoDiaMes = new Date(anoV, mesV + 1, 0).getDate();\n  const diaEfetivo = Math.min(c.vencimento, ultimoDiaMes);\n  return new Date(anoV, mesV, diaEfetivo);\n}\n\n// ====== GERAÇÃO DE ITEMS (1 ou N parcelas) ======\nconst valorTotal = parsed.valor || 0;\nconst valorParcela = parcelas > 1 ? Math.round((valorTotal / parcelas) * 100) / 100 : valorTotal;\n\nconst items = [];\nfor (let i = 0; i < parcelas; i++) {\n  const dcBase = calcularDataCaixa(now, formaPgto, cartaoObj);\n  const dataCaixa = new Date(dcBase.getFullYear(), dcBase.getMonth() + i, dcBase.getDate());\n  const compParcela = parcelas > 1 ?\n    new Date(compBase.getFullYear(), compBase.getMonth() + i, 1) :\n    compBase;\n  const descBase = parsed.descricao || msg.message;\n  const descParcela = parcelas > 1 ? `${descBase} (${i+1}/${parcelas})` : descBase;\n  items.push({\n    data: dataLancamento,\n    data_caixa: fmtData(dataCaixa),\n    competencia: fmtComp(compParcela),\n    tipo: parsed.tipo || 'Despesa',\n    categoria: parsed.categoria || 'Outros',\n    descricao: descParcela,\n    pessoa: pessoa,\n    forma_pgto: formaPgto,\n    cartao: cartaoExibicao,\n    parcelas: parcelas,\n    parcela_atual: i + 1,\n    parcela_label: parcelas > 1 ? `${i+1}/${parcelas}` : '',\n    valor: valorParcela,\n    emoji: parsed.emoji || '💸',\n    confianca: parsed.confianca || 'baixa',\n    mensagem_original: msg.message,\n    sender: msg.sender,\n    confirmacao: '',\n  });\n}\n\n// ====== CONFIRMAÇÃO (só no primeiro item; nó WhatsApp tem executeOnce) ======\nconst sinal = items[0].tipo === 'Receita' ? '💚' : (items[0].tipo === 'Investimento' ? '📈' : '💸');\nlet confirmacao;\nif (parcelas > 1) {\n  confirmacao = `${sinal} *Lançado parcelado!*\\n\\n` +\n    `${items[0].emoji} *${parsed.descricao || msg.message}*\\n` +\n    `💰 R$ ${fmtBR(valorTotal)} em ${parcelas}x de R$ ${fmtBR(valorParcela)}\\n` +\n    `📂 ${items[0].categoria} | ${items[0].tipo}\\n` +\n    `👤 ${pessoa}\\n` +\n    `💳 ${cartaoExibicao}\\n` +\n    `📅 1ª caixa: ${items[0].data_caixa} (comp ${items[0].competencia})\\n` +\n    `🔚 última comp: ${items[parcelas-1].competencia}` +\n    (items[0].confianca === 'baixa' ? '\\n\\n⚠️ _Baixa confiança — verifique_' : '');\n} else {\n  const it = items[0];\n  const linhaCaixa = it.forma_pgto === 'Crédito' ? `\\n💳 Caixa: ${it.data_caixa} (${cartaoExibicao})` : '';\n  confirmacao = `${sinal} *Lançado com sucesso!*\\n\\n` +\n    `${it.emoji} *${it.descricao}*\\n` +\n    `💰 R$ ${fmtBR(it.valor)}\\n` +\n    `📂 ${it.categoria} | ${it.tipo}\\n` +\n    `👤 ${pessoa}\\n` +\n    `💸 ${it.forma_pgto}` + linhaCaixa + `\\n` +\n    `📅 ${it.data} (comp: ${it.competencia})` +\n    (it.confianca === 'baixa' ? '\\n\\n⚠️ _Baixa confiança — verifique_' : '');\n}\nitems[0].confirmacao = confirmacao;\n\nreturn items.map(it => ({ json: it }));\n"}},{"id":"google-sheets","name":"📋 Salvar no Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1220,500],"continueOnFail":true,"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1cl9heM5gZiMVbGlWa8j_BlYEa0MwBq40k_bK27H_qaA","mode":"id"},"sheetName":{"__rl":true,"value":"Lançamentos","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{ $json.data }}","Competência":"={{ $json.competencia }}","Tipo":"={{ $json.tipo }}","Categoria":"={{ $json.categoria }}","Descrição":"={{ $json.descricao }}","Pessoa":"={{ $json.pessoa }}","Valor":"={{ $json.valor }}","Mensagem Original":"={{ $json.mensagem_original }}","Data Caixa":"={{ $json.data_caixa }}","Forma Pgto":"={{ $json.forma_pgto }}","Cartão":"={{ $json.cartao }}","Parcela":"={{ $json.parcela_label }}"}},"options":{},"authentication":"serviceAccount"},"credentials":{"googleApi":{"id":"yYfQvDCPuhFB5ELd","name":"Google Sheets account"}}},{"id":"respond-webhook","name":"✅ Responder Confirmação","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1660,500],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, confirmacao: $('📊 Formatar para Planilha').first().json.confirmacao, lancamento: { data: $('📊 Formatar para Planilha').first().json.data, categoria: $('📊 Formatar para Planilha').first().json.categoria, valor: $('📊 Formatar para Planilha').first().json.valor, tipo: $('📊 Formatar para Planilha').first().json.tipo, pessoa: $('📊 Formatar para Planilha').first().json.pessoa } }) }}","options":{"responseCode":200}}},{"id":"error-handler","name":"❌ Tratar Erros","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[560,700],"parameters":{"respondWith":"json","responseBody":"{\"success\": false, \"erro\": \"Não consegui entender a mensagem. Tente: 'Mercado 150' ou 'Uber 35 transporte'\"}","options":{"responseCode":400}}},{"id":"1df6a7ba-7b12-47d8-960a-938e699e72bd","name":"📲 Enviar Confirmação WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,500],"parameters":{"method":"POST","url":"https://evolution-api-production-8e8e.up.railway.app/message/sendText/financeiro-familiar","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({\"number\": \"120363409520000410@g.us\", \"text\": $('📊 Formatar para Planilha').first().json.confirmacao}) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"lDpYOrlXMdcPVwH6","name":"evolution-financeiro"}},"executeOnce":true},{"id":"sheets-read-corr","name":"📋 Ler Lançamentos","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[780,300],"parameters":{"authentication":"serviceAccount","operation":"read","documentId":{"__rl":true,"value":"1cl9heM5gZiMVbGlWa8j_BlYEa0MwBq40k_bK27H_qaA","mode":"id"},"sheetName":{"__rl":true,"value":"Lançamentos","mode":"name"},"options":{}},"credentials":{"googleApi":{"id":"yYfQvDCPuhFB5ELd","name":"Google Sheets account"}}},{"id":"code-corr","name":"🔧 Aplicar Correção","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,300],"parameters":{"jsCode":"// Aplica a correção no último lançamento da pessoa\nconst rows = $input.all();\nconst cmd = $('🔍 Extrair Texto da Mensagem').first().json;\nconst sender = cmd.sender || '';\n\n// Identifica pessoa\nconst PEOPLE_LID = {\n  '100515321004134@lid': 'Wesley',\n  '244624274759793@lid': 'Sabrina',\n  '166069373243568@lid': 'Sabrina'\n};\nconst PEOPLE_PHONE = {\n  '553191186361': 'Wesley',\n  '553194349000': 'Sabrina',\n  '553184822101': 'Sabrina'\n};\nlet pessoa = 'Casal';\nif (PEOPLE_LID[sender]) pessoa = PEOPLE_LID[sender];\nelse {\n  const digits = String(sender).replace(/[^0-9]/g, '');\n  for (const [phone, name] of Object.entries(PEOPLE_PHONE)) {\n    if (digits.includes(phone)) { pessoa = name; break; }\n  }\n}\n\n// Filtra linhas da pessoa, pega o último (maior row_number)\nconst myRows = rows.filter(r => r.json['Pessoa'] === pessoa);\nif (myRows.length === 0) {\n  return [{ json: { confirmacao: `⚠️ Não encontrei lançamento seu pra corrigir, ${pessoa}.` } }];\n}\n// Pega o de maior row_number\nmyRows.sort((a, b) => (b.json.row_number || 0) - (a.json.row_number || 0));\nconst target = myRows[0].json;\nconst rowNumber = target.row_number;\n\n// === Aplicar correção ===\nconst CARTOES = {\n  'xp wesley':  { fechamento: 6,  vencimento: 15, banco: 'XP Wesley',  aliases: ['xp w', 'xpw'] },\n  'xp sabrina': { fechamento: 6,  vencimento: 15, banco: 'XP Sabrina', aliases: ['xp s', 'xps'] },\n  'itau':       { fechamento: 30, vencimento: 8,  banco: 'Itaú Wesley', aliases: ['itaú'] },\n};\n\nfunction getCartao(nome, pessoa) {\n  if (!nome) return null;\n  const key = String(nome).toLowerCase().trim();\n  if (CARTOES[key]) return { ...CARTOES[key], chave: key };\n  for (const [k, c] of Object.entries(CARTOES)) {\n    if (c.aliases && c.aliases.some(a => a.toLowerCase() === key)) return { ...c, chave: k };\n  }\n  if (key === 'xp') return { ...CARTOES[pessoa === 'Sabrina' ? 'xp sabrina' : 'xp wesley'] };\n  return null;\n}\n\nconst pad = n => String(n).padStart(2, '0');\nconst fmtData = d => `${pad(d.getDate())}/${pad(d.getMonth()+1)}/${d.getFullYear()}`;\n\nfunction calcDataCaixa(dataCompra, formaPgto, cartao) {\n  if (formaPgto !== 'Crédito') return new Date(dataCompra);\n  const c = cartao || { fechamento: 1, vencimento: 10 };\n  const sameMonth = c.vencimento > c.fechamento;\n  const mes = dataCompra.getMonth();\n  const dia = dataCompra.getDate();\n  let mesV;\n  if (dia <= c.fechamento) mesV = sameMonth ? mes : mes + 1;\n  else mesV = sameMonth ? mes + 1 : mes + 2;\n  let anoV = dataCompra.getFullYear();\n  while (mesV > 11) { anoV += 1; mesV -= 12; }\n  const ultimo = new Date(anoV, mesV + 1, 0).getDate();\n  return new Date(anoV, mesV, Math.min(c.vencimento, ultimo));\n}\n\n// Parse data lançamento (string DD/MM/YYYY ou objeto Date)\nconst dataStr = target['Data'];\nlet dataCompra;\nif (typeof dataStr === 'string' && /^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(dataStr)) {\n  const [d, m, y] = dataStr.split('/').map(Number);\n  dataCompra = new Date(y, m - 1, d);\n} else {\n  dataCompra = new Date();\n}\n\nconst payload = String(cmd.payload || '').toLowerCase().trim();\nconst tokens = payload.split(/\\s+/);\n\nlet novoFormaPgto = target['Forma Pgto'];\nlet novoCartao = target['Cartão'] || '';\nlet novoDataCaixa = target['Data Caixa'];\nconst acoes = [];\n\n// Detectar token Nx (parcelas) — pra corrigir parcelado é complexo; ignoro nesta versão e marco TODO\nconst parcelaMatch = payload.match(/(\\d+)\\s*x/i);\n\nfor (const t of tokens) {\n  // forma pgto / cartão\n  if (t === 'pix') { novoFormaPgto = 'PIX'; novoCartao = ''; acoes.push('PIX'); }\n  else if (t === 'débito' || t === 'debito') { novoFormaPgto = 'Débito'; novoCartao = ''; acoes.push('Débito'); }\n  else if (t === 'dinheiro') { novoFormaPgto = 'Dinheiro'; novoCartao = ''; acoes.push('Dinheiro'); }\n  else if (t === 'crédito' || t === 'credito') { novoFormaPgto = 'Crédito'; acoes.push('Crédito'); }\n  else if (t === 'xp' || t === 'itau' || t === 'itaú') {\n    novoFormaPgto = 'Crédito';\n    const c = getCartao(t, pessoa);\n    if (c) { novoCartao = c.banco; acoes.push(`cartão ${c.banco}`); }\n  }\n}\n\n// Verifica combinações \"xp wesley\", \"xp sabrina\"\nif (/xp\\s+wesley/i.test(payload)) {\n  novoFormaPgto = 'Crédito';\n  novoCartao = 'XP Wesley';\n  acoes.push('cartão XP Wesley');\n}\nif (/xp\\s+sabrina/i.test(payload)) {\n  novoFormaPgto = 'Crédito';\n  novoCartao = 'XP Sabrina';\n  acoes.push('cartão XP Sabrina');\n}\n\n// Recalcula Data Caixa se mudou forma pgto pra Crédito ou se mudou cartão\nif (novoFormaPgto === 'Crédito' && novoCartao) {\n  const cartao = getCartao(novoCartao.replace('XP ', 'xp ').toLowerCase(), pessoa);\n  const dc = calcDataCaixa(dataCompra, novoFormaPgto, cartao);\n  novoDataCaixa = fmtData(dc);\n} else if (novoFormaPgto !== 'Crédito') {\n  novoDataCaixa = fmtData(dataCompra);\n}\n\nif (acoes.length === 0) {\n  return [{ json: { confirmacao: `⚠️ Não entendi a correção: \"${cmd.payload}\".\\nFormatos aceitos: \"corrigir xp\", \"corrigir pix\", \"corrigir débito\", \"corrigir xp wesley\", \"corrigir xp sabrina\", \"corrigir itau\".` } }];\n}\n\n// Monta retorno pra update sheets — precisa colunas + row\nconst fmtBR = v => Number(v).toFixed(2).replace('.', ',');\nconst valor = target['Valor'];\n\nconst confirmacao = `✏️ *Corrigido!*\\n\\n` +\n  `${target['Descrição']}\\n` +\n  `💰 R$ ${fmtBR(valor)}\\n` +\n  `🔧 Alterações: ${acoes.join(', ')}\\n` +\n  `💳 Forma: ${novoFormaPgto}${novoCartao ? ` (${novoCartao})` : ''}\\n` +\n  `📅 Data Caixa: ${novoDataCaixa}`;\n\nreturn [{\n  json: {\n    row_number: rowNumber,\n    'Forma Pgto': novoFormaPgto,\n    'Cartão': novoCartao,\n    'Data Caixa': novoDataCaixa,\n    confirmacao,\n  }\n}];\n"}},{"id":"sheets-update-corr","name":"📋 Update Linha","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1220,300],"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1cl9heM5gZiMVbGlWa8j_BlYEa0MwBq40k_bK27H_qaA","mode":"id"},"sheetName":{"__rl":true,"value":"Lançamentos","mode":"name"},"columns":{"mappingMode":"defineBelow","matchingColumns":["row_number"],"value":{"row_number":"={{ $json.row_number }}","Forma Pgto":"={{ $json['Forma Pgto'] }}","Cartão":"={{ $json['Cartão'] }}","Data Caixa":"={{ $json['Data Caixa'] }}"}},"options":{}},"credentials":{"googleApi":{"id":"yYfQvDCPuhFB5ELd","name":"Google Sheets account"}}},{"id":"wpp-corr","name":"📲 Confirma Correção WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,300],"executeOnce":true,"parameters":{"method":"POST","url":"https://evolution-api-production-8e8e.up.railway.app/message/sendText/financeiro-familiar","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({\"number\": \"120363409520000410@g.us\", \"text\": $('🔧 Aplicar Correção').first().json.confirmacao}) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"lDpYOrlXMdcPVwH6","name":"evolution-financeiro"}}},{"id":"switch-cmd","name":"🔀 Tipo de Mensagem","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[560,300],"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.commandType }}","rightValue":"delete","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"delete"},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"strict"},"conditions":[{"id":"c2","leftValue":"={{ $json.commandType }}","rightValue":"correct","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"correct"},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"id":"c3","leftValue":"={{ $json.isCommand }}","rightValue":false,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"normal"}]},"options":{}}},{"id":"sheets-read-del","name":"📋 Ler Lançamentos (Delete)","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[780,100],"parameters":{"authentication":"serviceAccount","operation":"read","documentId":{"__rl":true,"value":"1cl9heM5gZiMVbGlWa8j_BlYEa0MwBq40k_bK27H_qaA","mode":"id"},"sheetName":{"__rl":true,"value":"Lançamentos","mode":"name"},"options":{}},"credentials":{"googleApi":{"id":"yYfQvDCPuhFB5ELd","name":"Google Sheets account"}}},{"id":"code-del","name":"🔧 Preparar Delete","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,100],"parameters":{"jsCode":"// Identifica e prepara delete do último lançamento da pessoa\nconst rows = $input.all();\nconst cmd = $('🔍 Extrair Texto da Mensagem').first().json;\nconst sender = cmd.sender || '';\n\nconst PEOPLE_LID = {\n  '100515321004134@lid': 'Wesley',\n  '244624274759793@lid': 'Sabrina',\n  '166069373243568@lid': 'Sabrina'\n};\nconst PEOPLE_PHONE = {\n  '553191186361': 'Wesley',\n  '553194349000': 'Sabrina',\n  '553184822101': 'Sabrina'\n};\nlet pessoa = 'Casal';\nif (PEOPLE_LID[sender]) pessoa = PEOPLE_LID[sender];\nelse {\n  const digits = String(sender).replace(/[^0-9]/g, '');\n  for (const [phone, name] of Object.entries(PEOPLE_PHONE)) {\n    if (digits.includes(phone)) { pessoa = name; break; }\n  }\n}\n\nconst myRows = rows.filter(r => r.json['Pessoa'] === pessoa);\nif (myRows.length === 0) {\n  return [{ json: { skipDelete: true, confirmacao: `⚠️ Não encontrei lançamento seu pra deletar, ${pessoa}.` } }];\n}\nmyRows.sort((a, b) => (b.json.row_number || 0) - (a.json.row_number || 0));\nconst target = myRows[0].json;\n\n// Não permitir deletar recorrente (descrição começa com [recorrente])\nconst msgOrig = String(target['Mensagem Original'] || '');\nif (msgOrig.startsWith('[recorrente]')) {\n  return [{ json: { skipDelete: true, confirmacao: `⚠️ Não posso deletar lançamento recorrente: ${target['Descrição']}.\\nUse a aba Recorrentes pra desativar.` } }];\n}\n\nconst fmtBR = v => Number(v).toFixed(2).replace('.', ',');\nconst confirmacao = `🗑️ *Apagado!*\\n\\n` +\n  `${target['Descrição']}\\n` +\n  `💰 R$ ${fmtBR(target['Valor'])}\\n` +\n  `📅 ${target['Data']}\\n` +\n  `(linha ${target.row_number})`;\n\nreturn [{ json: { skipDelete: false, row_number: target.row_number, confirmacao } }];\n"}},{"id":"sheets-delete","name":"🗑️ Apagar Linha","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1220,100],"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"delete","documentId":{"__rl":true,"value":"1cl9heM5gZiMVbGlWa8j_BlYEa0MwBq40k_bK27H_qaA","mode":"id"},"sheetName":{"__rl":true,"value":"Lançamentos","mode":"name"},"toDelete":"rows","startIndex":"={{ $json.row_number - 1 }}","numberToDelete":1},"credentials":{"googleApi":{"id":"yYfQvDCPuhFB5ELd","name":"Google Sheets account"}}},{"id":"wpp-del","name":"📲 Confirma Delete WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,100],"executeOnce":true,"parameters":{"method":"POST","url":"https://evolution-api-production-8e8e.up.railway.app/message/sendText/financeiro-familiar","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({\"number\": \"120363409520000410@g.us\", \"text\": $('🔧 Preparar Delete').first().json.confirmacao}) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"lDpYOrlXMdcPVwH6","name":"evolution-financeiro"}}}],"connections":{"📱 Receber Mensagem WhatsApp":{"main":[[{"node":"🔍 Extrair Texto da Mensagem","type":"main","index":0}]]},"🔍 Extrair Texto da Mensagem":{"main":[[{"node":"🔀 Tipo de Mensagem","type":"main","index":0}],[{"node":"❌ Tratar Erros","type":"main","index":0}]]},"🔀 Tipo de Mensagem":{"main":[[{"node":"📋 Ler Lançamentos (Delete)","type":"main","index":0}],[{"node":"📋 Ler Lançamentos","type":"main","index":0}],[{"node":"🤖 IA — Interpretar Gasto","type":"main","index":0}]]},"📋 Ler Lançamentos (Delete)":{"main":[[{"node":"🔧 Preparar Delete","type":"main","index":0}]]},"🔧 Preparar Delete":{"main":[[{"node":"🗑️ Apagar Linha","type":"main","index":0}]]},"🗑️ Apagar Linha":{"main":[[{"node":"📲 Confirma Delete WhatsApp","type":"main","index":0}]]},"📋 Ler Lançamentos":{"main":[[{"node":"🔧 Aplicar Correção","type":"main","index":0}]]},"🔧 Aplicar Correção":{"main":[[{"node":"📋 Update Linha","type":"main","index":0}]]},"📋 Update Linha":{"main":[[{"node":"📲 Confirma Correção WhatsApp","type":"main","index":0}]]},"🤖 IA — Interpretar Gasto":{"main":[[{"node":"📊 Formatar para Planilha","type":"main","index":0}]]},"📊 Formatar para Planilha":{"main":[[{"node":"📋 Salvar no Google Sheets","type":"main","index":0}]]},"📋 Salvar no Google Sheets":{"main":[[{"node":"📲 Enviar Confirmação WhatsApp","type":"main","index":0}]]},"📲 Enviar Confirmação WhatsApp":{"main":[[{"node":"✅ Responder Confirmação","type":"main","index":0}]]}},"authors":"Wesley Geraldo Gomes","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-21T17:46:56.744Z","id":42,"workflowId":"xQHgAqsOa5kTuMyf","versionId":"ce8cdfa5-1654-4f0b-8a01-6ca85467dfed","event":"deactivated","userId":"4cb54a2c-081f-4c9e-ae99-20a1126cddb2"},{"createdAt":"2026-05-21T17:46:56.794Z","id":43,"workflowId":"xQHgAqsOa5kTuMyf","versionId":"ce8cdfa5-1654-4f0b-8a01-6ca85467dfed","event":"activated","userId":"4cb54a2c-081f-4c9e-ae99-20a1126cddb2"}]}}